@use 'variables';

@mixin default-hover-transition($properties...) {
  transition-property: $properties;
  transition-duration: variables.$default-transition-length;
  transition-timing-function: variables.$default-transition-timing-func;
}
